@charset "UTF-8";

body {
	font-family: Georgia, serif, sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	color: #FFFFFF;
	background-color: #11477F;
	padding: 0 40px;
}

/* text syles */
p, li, td {
	letter-spacing: 0.08em;
	color: #11477F;
	margin-left:15px;
}

h1 {
	font-size: 40px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .2em;
	line-height: 2em;
}
h2 {
	font-size: 35px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	/*background-color:#2977AB;*/
}
h3 {
	font-size: 30px;
	letter-spacing: 0.7em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #C9FAFF;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* added line height to not have clustered text */
em{
	font-size: 30px;
	letter-spacing: 0.2em;
	line-height: 1.5em;
}

/* used for quote  */
strong{
	font-size: 20px;
	letter-spacing: 0.05em;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #C9FAFF;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #109BD5;
	text-decoration: none;
}
a:hover {
	color: #09ddf7;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #C9FAFF 3px;
}
td {
	padding: 6px;
	border: solid #C9FAFF 1px;
}
/* changed background color to allow white text to show */
th {
	font-weight: bold;
	background-color: #C9FAFF;
	text-align: center;
	padding: 6px;
	color: #11477F;
	
	border: solid #C9FAFF 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #C9FAFF 1px;
}

img {
	border: solid #C9FAFF 1px;
}

iframe {
	border: solid #C9FAFF 1px;
	padding: 8px;
	margin: 8px;
}


/* all div containers */
#container{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #000;
	background-color: #FFFF;
	overflow:hidden;
}

#header{
	width: 100%;
	color: #11477F;
	background-color: #FFFF;
	border-bottom: 1px solid #C9FAFF;
	padding-bottom: 0px;
	
}
#content{
	color: #11477F;
	background-color: #FFFF;
	width: 600px;
	float: left;
	padding-bottom: 0px;
	padding-left: 20px;
}
#content2{
	color: #11477F;
	background-color: #FFF;
	width: 460px;
	float: left;
	padding-bottom: 0px;
	margin-left: 50px;
}
#content3{
	color: #11477F;
	background-color: #FFFF;
	margin-top:20px;
	width: 800px;
	float: left;
	padding-bottom: 0px;
	padding-left: 20px;
}
#sidebar{
	color: #11477F;
	border: 5px solid #C9FAFF;
	border-radius: 12px;
	background-color: #ecefff;
	width: 400px;
	box-shadow:10px 10px 5px;
	float: left;
	padding-bottom: 0px;
	margin-left: 10%;
}
#sidebar2{
	width: 50%;
	float:right;
	margin-right:80px;
	padding-bottom: 20px;
	margin-bottom:20px;
	margin-top: 40px;
}
#footer{
	width: 100%;
	background-color: #252831;
	border-top: 1px solid #C9FAFF;
	padding:5px;
	clear: both;
}

